body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/* ------- UPPER PART -------------------------------------------- */

.upper {
    padding: 6px;
    height: 515px;
    background: linear-gradient(to top right, #4BCDE3, #023051);
    margin: 0 auto;
    overflow: hidden;
}

.upper-sub>div {
    display: inline-block;
}

.upper-sub {
    width: 880px;
    margin: auto;
    height: 520px;
}

.app-picture {
    position: relative;
    margin: 5px;
    width: 290px;
    height: 518px;
}

#iphone-pic {
    width: 280px;
    height: unset;
    border-radius: 47px 47px 0 0;
    margin: 5px;
}

#phonescreen {
    width: 254px;
    height: 479px;
    position: absolute;
    top: 36px;
    left: 19px;
    opacity: 1;
    transition: opacity 2s;
}

#phonescreen:hover {
    opacity: 0;
}

#phonescreen2 {
    width: 254px;
    height: 479px;
    position: absolute;
    top: 37px;
    left: 19px;
}

.app-intro {
    font-family: inherit;
    width: 480px;
    margin: 12px 0 0 90px;
    color: white;
    vertical-align: top;
}

.app-intro>a {
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.app-intro>a:hover {
    font-weight: 700;
}

.app-intro h1 {
    font-size: 56px;
    margin: 12px 0 40px 0;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.05em;
}

.description.white-text {
    margin-bottom: 40px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Nunito', sans-serif;
}

.download-button {
    text-decoration: none;
    background: white;
    padding: 8px 18px;
    border-radius: 30px;
    color: rgb(7, 152, 189);
    font-size: 20px;
    transition: .3s;
}

.download-button:hover {
    background: #023051;
}

/* ------ LOWER PART ---------------------------------- */

.lower {
    margin: 100px auto;
    width: 1000px;
    height: 600px;
    font-family: 'Nunito', sans-serif;
}

.lower .sub-container {
    display: inline-block;
}

.form-area {
    width: 650px;
}

.alt-contact-area {
    width: 275px;
    vertical-align: 200px;
}

form {
    margin-right: 40px;
}

form input[type='text'],
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
}

h3#contact {
    font-size: 30px;
}

[type='submit'] {
    background: #21728F;
    border: none;
    padding: 10px 28px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.808);
}

p>span {
    font-weight: bold;
}