#D {
    background: radial-gradient(rgb(9, 65, 110), rgb(94, 184, 211), rgb(143, 136, 207));
}

#D .form-container {
    position: relative;
    margin: 100px auto 10px auto;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    width: 350px;
    height: 400px;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}

#D form {
    margin: 0;
}
#D form>p:first-child {
    margin-top: 60px;
    position: relative;
}

#D p {
    text-align: center;
    width: 100%;
}

#D .inputbox {
    width: 90%;
    box-sizing: border-box;
    padding: 14px 30px 14px 30px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-family: inherit;
}

#D [type='button'] {
    margin-top: 4px;
    background: rgba(3, 98, 178, 0.8);
    color: white;
    width: 90%;
    height: 38px;
    border: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}

#D [type='button']:hover {
    background: rgba(4, 85, 151, 0.8);
}

/*.copyright {
    color: white;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}*/

#D #bottom-line {
    text-align: justify;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
}

#D #dcircle, #D #dcamera {
    position: absolute;
}

#D #dcircle {
    color: rgba(45, 83, 120, 0.85);
top:-33px;
left:243px;
}

#D #dcamera {
    color: white;
    top:0;
    left:276px;

}

#D #dcamera:hover{
    text-shadow: 0 0 10px rgb(122, 228, 255);
}

#D [type="checkbox"] {
    margin-left: 25px;
}

#D .forgot {
    margin-left: 280px;
    font-style: oblique;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
}

#D ::selection {
    background: rgb(25, 111, 182);
    color: white;
}

#D span#error {
   /* position: absolute;
    top: 195px;
    left: 25px;*/
    color: rgb(255, 0, 0);
    font-weight: bold;
}

#D span#success {
  /*  position: absolute;
    top: 195px;
    left: 110px;*/
    color: rgb(0, 255, 0);
    font-weight: bold;
}



#D .forgot:hover,
#D label:hover,
#D #remember:hover+label {
    text-shadow: 0 0 1px rgb(28, 138, 172);
}

#D label,
#D #remember {
    cursor: pointer;
}
