body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Nunito', sans-serif;
}

/*Máté része*/

.header {
    background: linear-gradient(to top right, #4bcce2, #012f50);
    height: 500px;
}

/*Zsiga része*/

.img {
    display: inline-block;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.EAA {
    height: 60%;
    width: 50%;
    margin: auto;
    background: #f5f5f5;
}

.szoveg1 {
    vertical-align: 170px;
    width: 300px;
    margin-right: 200px;
    display: inline-block;
    text-align: justify;
    padding-top: 15%;
}

.kep1 {
    width: 200px;
    height: 400px;
}

.PYP {
    height: 60%;
    width: 50%;
    margin: auto;
    background: white;
}

.szoveg2 {
    vertical-align: 100px;
    display: inline-block;
    width: 300px;
    margin-left: 200px;
    padding-top: 10%;
    text-align: justify;
}

.RR {
    margin-top: 100px;
    clear: both;
    display: block;
    width: 100%;
    height: 17em;
    opacity: 0.9;
    text-align: center;
    background-image: url("/img/kékfák.png");
}

#focim {
    font-size: 20px;
    text-align: left;
}

#alcim {
    font-size: 40px;
    text-align: left;
}

.kep2 {
    width: 200px;
    height: 400px;
}

.RR {
    margin-top: 100px;
    clear: both;
    display: block;
    width: 100%;
    height: 17em;
    background-color: blue;
    opacity: 0.7;
    text-align: center;
    background-image: url("/img/kékfák.png");
}

.idezet {
    text-align: center;
    padding-top: 5em;
    color: #f5f5f5
}

.phonescr {
    position: relative;
    height: 14%;
    width: 14%;
    float: left;
    margin-right: 100px;
    padding-left: 30%;
}

.mp1v2 {
    background: #f5f5f5;
    height: 300px;
    padding: 7% 17%;
}

.paragraphLeft {
    float: left;
    display: inline-block;
    width: 40%;
    height: 100%;
}

.paragraphRight {
    float: right;
    display: inline-block;
    width: 40%;
    height: 100%;
}

.imgRight {
    float: right;
    display: inline-block;
    width: 250px;
}

.imgLeft {
    float: left;
    display: inline-block;
    width: 250px;
}

.imgLeft img {
    width: 70%;
    height: 70%;
    margin-left: 20px;
    -webkit-box-shadow: -6px 3px 22px -1px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -6px 3px 22px -1px rgba(0, 0, 0, 0.71);
    box-shadow: -6px 3px 22px -1px rgba(0, 0, 0, 0.71);
}

.imgRight img {
    width: 70%;
    height: 70%;
    margin-left: 20px;
    -webkit-box-shadow: -6px 3px 22px -1px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -6px 3px 22px -1px rgba(0, 0, 0, 0.71);
    box-shadow: -6px 3px 22px -1px rgba(0, 0, 0, 0.71);
}

.mid {
    text-align: center;
    padding: 3% 25%;
}

.mellek {
    float: left;
    margin: auto;
}

.mellek .text1 {
    text-align: justify;
    color: white;
    height: 300px;
    width: 400px;
}

.mellek .gombok {
    margin-top: 50px;
    margin-left: 50px;
}

/* Miro része */

.mp {
    display: block;
    background: #f5f5f5;
    height: 300px;
    margin: 0;
}

.mp1 {
    background: white;
    height: 300px;
    padding: 7% 17%;
}

.paragraphLeft {
    float: left;
    display: inline-block;
    width: 40%;
    height: 100;
}

.imgRight {
    float: right;
    display: inline-block;
    width: 250px;
}

.imgRight img {
    width: 70%;
    height: 70%;
    margin-left: 20px;
    -webkit-box-shadow: -6px 3px 22px -1px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -6px 3px 22px -1px rgba(0, 0, 0, 0.71);
    box-shadow: -6px 3px 22px -1px rgba(0, 0, 0, 0.71);
}

.mid {
    text-align: center;
    padding: 3% 25%;
}

.mp2 {
    background: #21728f;
    height: 300px;
    margin: 0;
}

.email {
    color: white;
    text-align: center;
    padding: 5% 25%;
}

#customInput1 {
    display: inline-block;
    border: none;
    padding: 10px;
    border-radius: 25px 0px 0px 25px;
    width: 65%;
    outline: none;
    text-decoration: none;
}

#customInput2 {
    display: inline-block;
    border: none;
    padding: 10px;
    border-radius: 0px 25px 25px 0px;
    width: 100px;
    color: white;
    background: #113847;
    outline: none;
    text-decoration: none;
    margin-left: -4px;
}

.mp3 {
    color: black;
    text-align: center;
    padding: 7% 0 12%;
}

.mp3 {
    color: black;
    text-align: center;
    padding: 5% 0 7%;
}

.text2 {
    margin: 50px;
    width: 200px;
    float: left;
}

.customInput3 {
    border: none;
    padding: 10px 40px;
    border-radius: 25px 25px 25px 25px;
    margin: 0;
    width: auto;
    color: white;
    background: #21728f;
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;
}

footer {
    padding-top: 5px;
    height: 50px;
}

.footerClass {
    padding: 10px 5%;
    color: grey;
}

.footerClass img {
    float: right;
    margin-left: 1%;
    width: 3%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.footerClass img:hover {
    transition: filter .3s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transform: scale(1.3);
}