body {
    font-family: 'Nunito', sans-serif;
    margin: -8px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Nunito', sans-serif;
}
/*Máté része*/
.header{
    background: #21728f;
    color: #f5f5f5;
    width: auto;
    height: 20%;
    overflow: auto;
}
headlinks{
    float: right;
}
h5{
    padding-top: 5px;
    text-align: right;
}
li {
    display: inline;
}
.phonescr{
    display: block;
    float: left;
    block-size: 200px;
}
.text{
    text-align: center;
    clear:right;
}



/* Miro része */

.mp {
    background: #f5f5f5;
    height: 300px;
    margin: 0;
}

.mid {
    text-align: center;
    padding: 3% 25%;
}

.mp2 {
    background: #21728f;
    height: 300px;
    margin: 0;
}

.email {
    color: white;
    text-align: center;
    padding: 7% 25%;
}

#customInput1 {
    display: inline-block;
    border: none;
    padding: 10px;
    border-radius: 25px 0px 0px 25px;
    width: 65%;
    outline: none;
}

#customInput2 {
    display: inline-block;
    border: none;
    padding: 10px;
    border-radius: 0px 25px 25px 0px;
    width: 100px;
    color: white;
    background: #113847;
    outline: none;
}

.mp3 {
    color: black;
    text-align: center;
    padding: 7% 0 12%;
}

.customInput3 {
    border: none;
    padding: 10px 40px;
    border-radius: 25px 25px 25px 25px;
    margin: 0;
    width: auto;
    color: white;
    background: #21728f;
    font-size: 16px;
    box-sizing: border-box;
}

footer {
    padding-top: 5px;
    height: 50px;
}

.footerClass {
    padding: 10px 5%;
    color: grey;
}

.footerClass img {
    float: right;
    margin-left: 1%;
    width: 3%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.footerClass img:hover {
    transition: filter .3s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transform: scale(1.3);
}