/* future CSS for contact.html */

/*will there be 1 mutual css or separate ones?
...just wondering   */

body {
    margin: 0;
}

/* ------- UPPER PART -------------------------------------------- */

.upper {
    padding: 40px;
    height: 565px;
    width: 100%;
    background: linear-gradient(to right, rgb(71, 157, 179), rgb(0, 59, 73));
    ;
    margin: auto;
    overflow: hidden;
}

.upper>div {
    float: left;
}

.app-picture {
    margin: 0 100px 0 210px;
    width: 300px;
}

#iphone-pic {
    width: 300px;
    border-radius: 47px;
}

.app-intro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 600px;
    margin: 0;
    color: white;
}

.app-intro h1 {
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    color: white;
}

.app-intro h2 {
    font-size: 60px;
    margin: 0 0 40px 0;
}

/* ------ LOWER PART ---------------------------------- */

.lower {
    clear: left;
}